{{!-- first references the partial
second passes the "tile" data from the get request through the partial --}}
<div class="single-tile-container">



{{> test-melon-tile tile}}



<div class="right-comments">

    <div class="create-comment-container">
        <p id="new-comment">Leave a comment:</p>
        <textarea type="text" class="field" id="new-comment-content" placeholder="Type your comment here."></textarea>
        <button class="button" id="comment-btn">Comment</button>
    </div>

    {{#each comments as |comment|}}
        {{> test-becca-comment}}
        {{else}}
        <h6>there are currently no comments, leave the first one!</h6>
    {{/each}}


</div>

</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/update-tracker.js"></script>
<script src="/js/new-comment.js"></script>