<div>
    <h2>handlebars test</h2>
    <div>
        <ol>
            <li>
            Melon
            </li>
            <li>
            Cucumber
            </li>
            <li>
            Cantaloupe
            </li>
            <li>
            Spaghetti
            </li>
            <li>
            Pizza
            </li>
            <li>
            Ice Cream
            </li>
            <li>
            Chocolate
            </li>
        </ol>
    </div>
</div>