<div class="single-user-partial">

    <div class="single-user-container">

        <div class="single-user-header">

            <h2>{{tiles.[0].user.first_name}} {{tiles.[0].user.last_name}}'s Tiles</a></h2>

        </div>

        <div class="single-user-body">
            {{#each tiles as |tile|}}
                {{> test-melon-tile}}
                {{else}}
                <h6>this user has no tiles</h6>
            {{/each}}
        </div>

        <div class="user-footer">
        </div>

    </div>
    
</div>