<div class="view">

    <h2>test melon</h2>
    <p>to use for testing endpoints via </p>
    <li>res.render('/')  - this will call the handlebar layout, should use in homeRoutes</li>
    <li>res.replace('/') - this will call an endpoint (a GET request at this endpoint needs to be configured in homeRoutes)</li>
    <li>document.location.replace('/')</li>

    
</div>