:root{
    --primary: #d1dddb;
    --secondary: #85B8CB;
    --tertiary: #1d6a96;
    --quatrinary:#283B42;
    --light: white;
    --dark:black;
}

.login{
    background-color: var(--tertiary);
    border: var(--dark) solid 1px;
    color: var(--light);
}

.login:hover{
background-color: var(--quatrinary);
color: var(--light);
}

body {
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin: 0;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--primary);
}

a {
    color: var(--quatrinary);
    text-decoration: none;
}

a:visited {
    color: inherit;
}

header {
    padding: 40px;
    text-align: center;
    background: var(--secondary);
}

main {
    display: center;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: var(--quatrinary);
}

nav {
    display: flex;
    background-color: var(--secondary);
}

nav a {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a :hover{
    color: var(--quatrinary);
    background-color: var(--light);
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.1s;
    margin-left: 16px;
}

.wrapper {
    display: flex;
    justify-content: center;
}
/* create tile container - in dashboard layout */
.create-tile-container {
    display: flex;
    flex-direction: column;
    width: 48%;
    background-color: rgb(255, 220, 139);
    padding: 25px;
    margin-top: 25px;
    border-radius: 10px;

}

.create-tile-container h2 {
    text-align: center;
}

.create-tile-container .field, .create-tile-container button {
    margin-bottom: 10px;
    height: 20px;
}

/* container for tile-partials */
.rendered-tile-partials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}

/* tile partials */
.tile-partial {
    width: 30%;
    max-height: 100%;
    margin: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}


.tile-header {
    display: flex;
    flex-direction: row;
}

.header-left {
    width: 75%;
    text-align: left;
    margin-left: 10px;
}

.header-right {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items:flex-end;
    margin-right: 10px;
    justify-content: center;
}

.header-right a {
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.update-value {
    width: 90px;
    height: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}


.update-tile-btn {
    margin-bottom: 10px;
    border-radius: 10px;
    /* following three remove button defaults */
    width: 100px;
    height: 30px;
    border-style: none;
    background-color: yellow; 
    text-decoration: none;
    font-size: .9em;
    color: black;
}
  
.delete-tile {
    border-radius: 10px;
    background-color: red; 
    text-decoration: none;
    font-size: .9em;
    color: white;
 }

.tile-body {
    display: flex;
    flex-direction: column;
}

.tile-body p {
    /* top right bottom left NO COMMAS */
    margin: 0 10px 10px 10px;
}

.tracker-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height:250px; 
    width:250;
}

.tile-footer {
    /* top right bottom left NO COMMAS */
    margin: 0 10px 0 10px;
}

footer{
 display: center;
}